button.m-button {
    background-color: #019160;
    border-radius: 4px;
    height: 40px; 
    font-size: 13px;
    color: #fff;
    font-family: GoogleSands;
    padding: 0 24px;
    text-align: center;
    min-width: 100px;
    border: unset;
    cursor: pointer;
    margin: 0;
}

button.m-button.m-button-red {
    background-color: #f52525 ;
}

button.m-button.m-button-red:hover {
    background-color: #F65454;
}


button.m-button-2 {
    background-color: #bbbbbb;
    border-radius: 4px;
    height: 40px; 
    font-size: 13px;
    color: #000;
    font-family: GoogleSands;
    padding: 0 24px;
    text-align: center;
    min-width: 100px;
    border: unset;
    cursor: pointer;
    margin: 0;
}

button.m-button-refresh {
    width: 40px;
    height: 40px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: 1px #bbb solid;
    border-radius: 4px;
    cursor: pointer;
    /* padding-left: 40px;
    padding-right: 16px; */
}

button.m-button-2:hover {
    background-color: #E9EBEE;
}

button.m-button-2:active {
    background-color: #01B075;
}

button.m-button:hover {
    background-color: #2FBE8E;
}

button.m-button:active {
    background-color: #01B075;
}

button.m-button-icon {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: center;
    padding-left: 40px;
    padding-right: 16px;
}

button.m-button:hover {
    background-color: #2FBE8E;

}

button.m-button:active {
    background-color: #01B075;
}



button.m-button-dropdown-right {
    border-radius:  4px 0px 0px 4px;
    min-width: 10px;
}

button.m-button-dropdown-right:hover {
    background-color: #2FBE8E;
}

button.m-button-dropdown-right:active {
    background-color: #01B075;
}

button.m-button-dropdown-left {
    border-radius:  0px 4px 4px 0px;
    min-width: 10px;
    padding: 0 12px;
}

button.m-button-dropdown-left:hover {
    background-color: #2FBE8E;
}

button.m-button-dropdown-left:active {
    background-color: #01B075;
}
